[submodule "background-removal-worker"]
	path = background-removal-worker
	url = git@github.com:vitfury/background-removal-worker.git
[submodule "simple-worker-api"]
	path = simple-worker-api
	url = git@github.com:vitfury/simple-worker-api.git
