[submodule "simple-worker-api"]
	path = simple-worker-api
	url = git@github.com:vitfury/simple-worker-api.git
[submodule "image-background-remove-tool"]
	path = image-background-remove-tool
	url = git@github.com:vitfury/image-background-remove-tool.git
